img {
  height: 100%;
}
main {
  text-align: center;
}
h1 {
  font-size: 10vh;
  text-align: center;
}
#lab {
  width: 50vw;
}
label {
  background-color: #1F58F8;
}
h2 {
  color: white;
  font-size: 10vh;
}